{% extends "mic/base.html" %}

{% block content %}
<h2>{{title}} Files</h2>
{% if subsets %}
<table cellspacing=0>
<thead><tr><th>ID</th><th>Last Modified</th><th></th></tr></thead>
<tbody>
{% for f in subsets %}
<tr class="{% cycle 'row1' 'row2' %}" >
<td><a href="{% url 'files:sample' f.id %}">{{ f.ss.ident }}</a></td>
<td>{{f.ss.lastsave}}</td>
<td><a href="{% url 'files:edit_sample' f.id %}">Edit</a></td>
</tr>
{% endfor %}
</tbody></table>
{% else %}
   <p>No files are available.</p>
{% endif %}
{% endblock %}
